<mat-card *ngIf="!isDeleted">
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <div *ngIf="currentUser && editCommentContainer; else current_comment" class="new-comment">
    <mat-form-field>
      <textarea [(ngModel)]="comment.body" matInput placeholder="Comment it..." value={{comment.body}}></textarea>
    </mat-form-field>
    <button mat-icon-button color="primary" matTooltip="Update" (click)="updateComment()">
      <mat-icon aria-label="Update">send</mat-icon>
    </button>
  </div>
  <ng-template #current_comment>
    <mat-card-content>
      <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="reactionOnComment(likeTypes.Like)">
        <mat-icon matBadge="{{getReactionsByType(likeTypes.Like, comment.reactions).length}}" matBadgeColor="accent"
          matBadgeSize="small" [matBadgeHidden]="getReactionsByType(likeTypes.Like, comment.reactions).length === 0"
          aria-label="Like">thumb_up_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="reactionOnComment(likeTypes.Dislike)">
        <mat-icon matBadge="{{getReactionsByType(likeTypes.Dislike, comment.reactions).length}}" matBadgeColor="accent"
          matBadgeSize="small" [matBadgeHidden]="getReactionsByType(likeTypes.Dislike, comment.reactions).length === 0"
          aria-label="Dislike">
          thumb_down_alt
        </mat-icon>
      </button>
      <button *ngIf="currentUser.id === comment.author.id" mat-icon-button color="primary"
        (click)="toggleCommentContainer()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button *ngIf="currentUser.id === comment.author.id" mat-icon-button color="primary" (click)="deleteComment()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
    </mat-card-actions>
  </ng-template>
</mat-card>