<mat-card *ngIf="currentUser && !isDeleted && (!post.isHidden || (post.isHidden && currentUser.id === post.author.id))"
  [ngClass]="{'post-with-comments': showComments}">
  <div *ngIf="editPostContainer; else regular_post">
    <div *ngIf="loading" class="mat-spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
    <mat-card-header>
      <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <textarea [(ngModel)]="post.body" matInput placeholder="Write something..." value={{post.body}}></textarea>
      </mat-form-field>
      <div class="image-container">
        <div *ngIf="imageUrl; else current_image">
          <img mat-card-image class="post-image" *ngIf="imageUrl" mat-card-image src="{{imageUrl}}" alt="Photo">
        </div>
        <ng-template #current_image>
          <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
        </ng-template>
        <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Post it" (click)="updatePost()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </mat-card-actions>
  </div>

  <ng-template #regular_post>
    <mat-card-header>
      <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
    </mat-card-header>
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="reactionOnPost(likeTypes.Like)">
        <mat-icon matBadge="{{getReactionsByType(likeTypes.Like, post.reactions).length}}" matBadgeColor="accent"
          matBadgeSize="medium" [matBadgeHidden]="getReactionsByType(likeTypes.Like, post.reactions).length === 0"
          aria-label="Like">thumb_up_alt</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="reactionOnPost(likeTypes.Dislike)">
        <mat-icon matBadge="{{getReactionsByType(likeTypes.Dislike, post.reactions).length}}" matBadgeColor="accent"
          matBadgeSize="medium" [matBadgeHidden]="getReactionsByType(likeTypes.Dislike, post.reactions).length === 0"
          aria-label="Dislike">
          thumb_down_alt
        </mat-icon>
      </button>
      <button *ngIf="currentUser.id === post.author.id" mat-icon-button color="primary" (click)="togglePostContainer()">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
      <button *ngIf="currentUser.id === post.author.id" mat-icon-button color="primary" (click)="deletePost()">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
      <button *ngIf="!post.isHidden && currentUser.id === post.author.id" mat-icon-button color="primary"
        (click)="hideRevealPost(true)">
        <mat-icon aria-label="Hide">lock_open</mat-icon>
      </button>
      <button *ngIf="post.isHidden && currentUser.id === post.author.id" mat-icon-button color="accent"
        (click)="hideRevealPost(false)">
        <mat-icon aria-label="Reveal">lock</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)=" toggleComments()">
        <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
          [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
      </button>
    </mat-card-actions>
    <div *ngIf="showComments">
      <mat-divider></mat-divider>
      <div class="new-comment">
        <mat-form-field>
          <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <div *ngIf="post.comments.length > 0" class="comments-count">
        Just {{post.comments.length}} in all
      </div>
      <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser">
      </app-comment>
    </div>
  </ng-template>
</mat-card>